


.btnsCrudPacientesDiv{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #11137e;
    box-shadow: black 6px 4px 8px;
    /* border-radius: 120% 112%; */
    border-radius: 15px;
    border-bottom-left-radius: 70% 50%;
    margin-top: 0rem;
    padding: 1rem;
    padding-bottom: 2rem;
}


.btnAddPacienteDiv,
.btnDelPacienteDiv,
.btnEditPacienteDiv{
    display: flex;
    align-items: center;
    justify-content:center;
}

.btnAddPaciente,
.btnDelPaciente,
.btnEditPaciente{
    box-shadow: black 6px 4px 8px;
}
