body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bs-primary: #03045E;
  --bs-blue: #0077B6;
  --bs-cyan: #00B4D8;
  --bs-info: #90E0EF;
  --bs-light: #CAF0F8;
  --bs-grey: #EEEEEE;

  /* $custom-colors: (
    "darkblue": #03045E,
    "normalblue": #0077B6
  ); */

}